body {
  font-family: "Covered By Your Grace", cursive;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: lighter;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

h2 {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  margin-top: 0px;
}

h3 {
  text-align: center;
}

.bold {
  font-weight: 400;
}

.name {
  font-style: italic;
}

.charlotte-photo {
  width: 150px;
  display: block;
  margin: 0 auto;
  transform: skew(10deg, 2deg);
}

.github-link {
  font-weight: lighter;
  text-decoration: none;
}
