.card {
  margin: 0 auto;
  margin-top: 30px;
  float: none;
  margin-bottom: 10px;
  max-width: 800px;
}

.card-body {
  text-align: center;
}

.card-text {
  font-style: italic;
}

footer {
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}
