body {
  font-family: "Covered By Your Grace", cursive;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: lighter;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #407088;
}

.subheading-first-page {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  margin-top: 0px;
  color: #132743;
}

h3 {
  text-align: center;
  font-weight: lighter;
  font-size: 25px;
}

.container-pink-page {
  background: #ffcbcb;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bold {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.charlotte-photo {
  width: 150px;
  display: block;
  margin: 50px auto 30px auto;
  transform: rotate(5deg);
  filter: drop-shadow(4px 4px 4px #407088);
}

.link {
  color: #407088;
  text-decoration: none;
}

.scribble {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.container-blue-page {
  background: #407088;
  padding-bottom: 30px;
}

.heading-second-page {
  font-size: 40px;
  font-weight: lighter;
  text-align: left;
  padding-top: 20px;
  color: #ffcbcb;
}

.link:hover {
  color: black;
  transition: ease-in-out (0.5);
}

.row {
  margin-top: 30px;
}

.heading-third-page {
  font-size: 40px;
  font-weight: lighter;
  text-align: right;
  margin-right: 60px;
  color: #407088;
  margin-bottom: 60px;
}

.comment {
  margin-top: 80px;
}

.icon {
  font-size: 30px;
  width: 30px;
  margin: 10px;
}

.icon:hover {
  color: #407088;
  transition: ease-in-out;
}

.socials {
  text-align: center;
  margin-top: 60px;
}
